# Conexion a la base de datos relacional, extraccion directa de informacion, modificacion y eliminacion de informacion **

In [ ]:
import mysql.connector

# Configuracion de la conexion
config = {
    'user': 'root', 
    'password': 'mysql123',
    'host': 'localhost',
    'database': 'mp1'
}

try:
    # Conectarse a la base de datos
    connection = mysql.connector.connect(**config)
    print("Conexión exitosa a la base de datos.\n")
    
    cursor = connection.cursor()

    # Consulta 1: Obtener información de la sociedad con RUT 77886308-1
    print("Consulta 1: Información de la sociedad con RUT 77886308-1")
    cursor.execute("SELECT * FROM sociedades WHERE rut = '77886308-1';")
    resultado1 = cursor.fetchall()
    for fila in resultado1:
        print(fila)

    print("\n")

    # Consulta 2: Obtener sociedades con capital mayor o igual a $400.000.000
    print("Consulta 2: Sociedades con capital mayor o igual a $400.000.000")
    cursor.execute("SELECT * FROM sociedades WHERE capital >= 400000000;")
    resultado2 = cursor.fetchall()
    for fila in resultado2:
        print(fila)

    # Insertar una nueva sociedad
    print("\nInsertando una nueva sociedad...")
    insertar_query = """
        INSERT INTO sociedades (id, rut, nombre, registro, comuna, capital)
        VALUES (%s, %s, %s, %s, %s, %s);
    """
    nueva_sociedad = (5156305, '77721389-K', 'Estrellas SpA', '2024-03-11', 'PROVIDENCIA', 1000000)
    cursor.execute(insertar_query, nueva_sociedad)
    connection.commit()  # Confirmar los cambios
    print("Nueva sociedad insertada con éxito.")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Cerrar la conexion al final
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("\nConexión cerrada.")

Conexión exitosa a la base de datos.

Consulta 1: Información de la sociedad con RUT 77886308-1
(4901949, '77886308-1', 'The Bakery Corner SpA', '2024-01-16', 'PROVIDENCIA', 1000000)


Consulta 2: Sociedades con capital mayor o igual a $400.000.000
(4969703, '77906387-9', 'LunaMar SpA', '2024-02-24', 'PROVIDENCIA', 450000000)
(4964232, '77907317-3', 'Country Roads Rent a Car SpA', '2024-02-27', 'PROVIDENCIA', 500000000)
(5008933, '77920466-9', 'Tique SpA', '2024-03-21', 'PROVIDENCIA', 472000000)
(5109071, '77948057-7', 'Inmobiliaria Los Carrera SpA', '2024-05-15', 'PROVIDENCIA', 500000000)

Insertando una nueva sociedad...
Nueva sociedad insertada con éxito.

Conexión cerrada.